html,body{
width: 100%;
margin: auto;
padding: 1%;

background:oldlace;

}

header{
    display: block;
    background-color: darkcyan;
    padding: 30px, 10 px;
    color: black;
}

section {
    width: 80%;
    background: rgb(8, 0, 0);
    float: right;
    overflow:auto;
    padding-bottom: 30px;
    padding-top: 10px;
}
aside{
    float:left;
  
    width: 20%;
    overflow:auto;
    height: auto;
}
footer{
    position: relative;
    margin-top: -50px;
    height: 50px;
    padding: 5px 0px;
    clear: both;
    background:black;
    text-align: center;
    color: #fff;
    }
    figure{
        float: right;
        display:table;
        margin: 0 auto;
        padding: 15px 15px;
    }
    div#tabla1{width: 100%;
        float: right;
        overflow:auto;
        padding-bottom: 30px;
        padding-top: 10px;
        }
    div#tituloscen{
        text-align: center;      
        }
        div#formu1{
            
            text-align: center; 
           
            }
